header
  img.logo(src="assets/angular.svg")
  span Angular

main
  .wrapper
    button.btn-add((click)="displayModal = true") Add
    .list-header
      .cell.name-job Name / Job
      .cell.age Age
      .cell.nickname Nickname
      .cell.employee Employee
      .cell.delete
    app-persons-list([persons]="persons")
    p.data-dump Data dump:
    textarea([ngClass]="{updated: updatedClass}", [value]="dataDump", (keypress)="$event.preventDefault()")
  app-modal(*ngIf="displayModal", (destroy)="displayModal = false")
